* {
  margin: 0;
  padding: 0;
  /* background-color: blanchedalmond; */
  box-sizing: border-box;
}

body {
  font-size: 1.5rem;
  font-family: sans-serif;
  color: #5a3e2b;
  font-family: "Quicksand";
}

.app{
  display:grid;
  grid-template-rows: 0.4fr 1fr 0.3fr;
}

.btn {
  display: inline-block;
  background-color: #f2e8cc;
  padding: 13px 30px;
  text-align: center;
  border-radius: 5px;
  color: rgb(7, 84, 60);
  line-height: 25px;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.3rem;
  text-decoration: none;
  margin: 4px 2px;
}
.primary {
  background-color: #04AA6D;
  border: none;
}

.item-btn {
  padding: 1px 1px;
  font-size: 0.7rem;
  border-radius: 0;
}

.main-container{
  background-color: rgb(254, 233, 202);
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container{
  background-color: rgb(193, 234, 221);
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 3rem;
}

.itemHeading {
  padding: 1rem;
}

input {
  border-radius: 20px;
  border: none;
  padding: 1rem 3rem;
  font-size: 1rem;
  text-align: center;
}

.inputContainer {
  display: flex;
  padding: 1rem;
}

h3{
  margin: 10px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(94, 175, 102);
  text-align: center;
  padding: 3.5rem;
}

.list {
  background-color: rgb(193, 234, 221);
  color: rgb(7, 84, 60);
  padding: 250px 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.list ul {
  list-style: none;
  display: grid;
  width: 80%;
  grid-template-columns: auto auto auto auto;
  align-content: start;
  gap: 40px 80px;
}

.list li {
  display: flex;
  align-items: center;
  padding: 10px;
}

.checkbox{
  width:20px;
  height:20px;
  margin: 10px; 
}

.footer {
  padding: 3.2rem;
  text-align: center;
  background-color: #f2e8cc;
}


